@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #756AB6;
}

.error {
    color: red;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

//Navbar 
body {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-repeat: no-repeat;
    height: 100%;

    .app {
        height: 100vh;

        //navbar
        .navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px 20px;

            .heading {
                flex: 1;
                font-size: 24px;
                color: white;
                font-weight: bold;
                text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
                text-align: center;
            }

            .logoutBtn {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    padding: 5px 10px;
                    border-radius: 10px;
                    border: none;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    color: red;
                    background-color: white;
                    box-shadow: rgba(234, 234, 234, 0.35) 0px 5px 15px;
                }
            }
        }

        //login
        .auth {
            width: 70%;
            margin: 100px auto;

            .authContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 50%;
                margin: 0 auto;

                .heading {
                    font-size: 25px;
                    font-weight: bold;
                    color: whitesmoke;
                }

                .formContainer {
                    font-size: 17px;
                    width: 100%;

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        div {
                            display: flex;
                            flex-direction: column;

                            label {
                                font-size: 15px;
                                color: white;
                                font-weight: 500px;
                            }

                            input {
                                height: 40px;
                                border: none;
                                border-radius: 10px;
                                padding: 5px;
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                                outline: none;
                            }
                        }

                        .submitBtn {
                            padding: 6px;
                            border: none;
                            border-radius: 15px;
                            background-color: #E0AED0;
                            color: white;
                            font-size: 20px;
                            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                        }
                    }

                    .signupLink {
                        display: flex;
                        margin-top: 10px;
                        justify-content: center;
                        align-items: center;
                        font-size: 15px;

                        a {
                            display: flex;
                            align-items: center;
                        }
                    }

                }
            }
        }

        .main {
            margin: 0 auto;
            width: 90%;

            .notesContainer {
                margin: 0 auto;

                .heading {
                    font-size: 24px;
                    font-weight: 600;
                    color: white
                }

                a {

                    .addBtn {
                        color: #756AB6;
                        border-radius: 10px;
                        border: 2px solid #756AB6;
                        padding: 5px 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }

                .tableContainer {
                    height: 500px;
                    display: flex;
                    margin-top: 20px;
                    background-color: white;
                    border: none;
                    border-radius: 5px;
                    overflow-y: scroll;

                    table {
                        width: 100%;
                        text-align: center;

                        thead {
                            tr {
                                th {
                                    border-bottom: 1px solid gray;
                                    padding: 15px 20px;
                                }
                            }
                        }

                        tbody {

                            tr {
                                td {
                                    border-bottom: 1px solid gray;
                                    padding: 10px;

                                    .actionsContainer {
                                        display: flex;
                                        justify-content: center;
                                        gap: 10px;

                                        .edit {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color: #756AB6;
                                            border-radius: 10px;
                                            border: 2px solid #756AB6;
                                            padding: 5px 10px;
                                        }

                                        .delete {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color: red;
                                            border-radius: 10px;
                                            border: 2px solid red;
                                            padding: 5px 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .note {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            gap: 10px;
            color: white;

            .info {
                color: white;
                font-size: 12px;
            }
        }

        .noteForm {
            display: flex;
            justify-content: center;

            form {
                h1 {
                    color: white;
                    display: flex;
                    justify-content: center;
                }

                width: 80%;
                margin: 100px auto;
                display: flex;
                flex-direction: column;
                gap: 10px;

                div {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 15px;
                        color: white;
                        font-weight: 500px;
                    }

                    input {
                        height: 40px;
                        border: none;
                        border-radius: 10px;
                        padding: 5px;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                        outline: none;
                    }

                    textarea {
                        border: none;
                        border-radius: 10px;
                        padding: 5px;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                        outline: none;
                    }
                }

                .submitBtn {
                    padding: 6px;
                    border: none;
                    border-radius: 15px;
                    background-color: #E0AED0;
                    color: white;
                    font-size: 20px;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                }
            }
        }


    }

    @media only screen and (max-width: 767px) {
        .app .auth .authContainer {
            width: 100%;
        }

        .app .main .notesContainer {
            .tableContainer {
                table {
                    thead {
                        tr {
                            th {
                                font-size: 10px;
                                padding: 5px 5px;
                            }
                        }
                    }

                    tbody {
                        font-size: 10px;

                        tr {
                            td {
                                padding: 5px 3px;

                                .actionsContainer {
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    gap: 7px;

                                    .edit {

                                        font-size: 10px;
                                        color: #756AB6;
                                        border-radius: 10px;
                                        border: 2px solid #756AB6;
                                        padding: 3px 7px;

                                    }

                                    .delete {
                                        font-size: 10px;
                                        color: red;
                                        border-radius: 10px;
                                        border: 2px solid red;
                                        padding: 3px 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}